
<div class="card shadow-sm bg-white rounded">
  <button class="btn blue is-fullwidth" (click)="hide=!hide">{{ hide == true ? "Fermer le formulaire" : "Ajouter une start-up" }}</button>
  <app-start-up-form [hidden]="!hide"></app-start-up-form>
</div>
<br>

<table class="table table-striped">
  <thead class="blue">
    <tr>
      <th class="col-1" cope="col">Start-up</th>
      <th class="col-1" scope="col">Représentant</th>
      <th class="col-1 text-center" scope="col">Fondateur</th>
      <th scope="col">Description</th>
      <th class="col-1 text-center" scope="col">Adresse</th>
      <th class="col-2" scope="col">Consultant</th>
      <th class="col-1 text-center" scope="col"><i class="fas fa-wrench"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of startUps" ngDefaultControl [(ngModel)]="s">
      <th scope="row">{{ s.nom }}</th>
      <td>{{ s.representantLegal }}</td>
      <td class="text-center">{{ s.nbrFondateurs | nbrFondateur }}</td>
      <td>{{ s.description }}</td>
      <td class="text-center">{{ s.mail != null ? "oui" : "non" }}</td>
      <td>In progress</td>
      <td class="text-center">
        <a title="Modifier" style="cursor: pointer;" (click)="editStartUp(s)"><i class="far fa-edit"></i></a>
        &nbsp;&nbsp;
        <a title="SUpprimer" style="cursor: pointer;" (click)="deleteStartUp(s.id)"><i class="far fa-trash-alt"></i></a>
      </td>
    </tr>
  </tbody>
</table>