<nav class="navbar navbar-expand-lg navbar-light dark-green">
    
 
 
    <a class="navbar-brand" href="#"> <svg class="d-inline-block align-top" width="36" height="36" xmlns="http://www.w3.org/2000/svg">
     <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
    
     <g>
      <title>background</title>
      <rect fill="#74a58a" id="canvas_background" height="38" width="38" y="-1" x="-1"/>
      <g display="none" id="canvasGrid">
       <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" id="svg_1"/>
      </g>
     </g>
     <g>
      <title>Layer 1</title>
      <path id="svg_8" d="m313.5,107.4375" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="#fff"/>
      <path id="svg_10" d="m329.5,153.4375" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="#fff"/>
      <line fill="none" stroke-width="54" x1="234.75" y1="0.000013" x2="234.75" y2="402.999993" id="svg_2" stroke-linejoin="null" stroke-linecap="null" stroke="#f9f9f9"/>
      <ellipse fill="none" stroke="#f9f9f9" stroke-width="51" cx="397" cy="196" id="svg_4" rx="161" ry="160"/>
      <rect fill="#74a58a" stroke-width="99" x="442.500002" y="4" width="168.999999" height="402.000003" id="svg_7"/>
      <line stroke="null" stroke-linecap="null" stroke-linejoin="null" id="svg_3" y2="32.357235" x2="37.098676" y1="3.576775" x1="37.098676" stroke-width="5" fill="none"/>
      <ellipse stroke="#ffffff" stroke-width="6" ry="16.360687" rx="16" id="svg_11" cy="17.696124" cx="31.311992" fill-opacity="null" stroke-opacity="null" fill="none"/>
      <rect id="svg_14" height="36.699721" width="13.525696" y="-0.265325" x="31.751126" stroke-width="2" fill="#74a58a"/>
      <line stroke="#ffffff" stroke-linecap="null" stroke-linejoin="null" id="svg_16" y2="36.163881" x2="7.495044" y1="0.005188" x1="7.404873" stroke-width="6" fill="none"/>
     </g>
    </svg>
    In-cub
      
    </a>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
       <li class="nav-item active">
         <a class="nav-link" [routerLink]="['/']">Home <span class="navbar-current"></span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" [routerLink]="['/startups']">Start-ups</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" [routerLink]="['/consultants']">Consultants	</a>
       </li>
     </ul>
   </div>
 </nav>