<div class="container">
    <br>
    <div class="text-center">
        <h1>Bienvenue sur In-Cub</h1>
        L'incubateur des Start-ups
    </div>

    <br>
    <hr>
    <h3>Start-ups :</h3>
    <div class="row">
        <div class="col" *ngFor="let s of startups">
            <card-start-up [startUp]='s'></card-start-up>
        </div>
    </div>
    <br>
    <button class="btn blue" [routerLink]="['/startups']" style="width: 100%;">
        See more
        <i class="fas fa-chevron-right"></i>
    </button>

    <br>
    <br>
    <hr>
    <h3>Consultants :</h3>
    <div class="row">
        <div class="col" *ngFor="let c of consultants">
            <card-consultant [consultant]='c'></card-consultant>
        </div>
    </div>
    <br>
    <button class="btn blue" [routerLink]="['/consultants']" style="width: 100%;">
        See more
        <i class="fas fa-chevron-right"></i>
    </button>

</div>
<br>