
<div class="card shadow-sm bg-white rounded">
  <button class="btn blue is-fullwidth" (click)="hide=!hide">{{ hide == true ? "Fermer le formulaire" : "Ajouter un consultant" }}</button>
  <app-consultant-form [hidden]="!hide"></app-consultant-form>
</div>
<br>  

<table class="table table-striped">
  <thead class="blue">
    <tr>
      <th class="col-2" scope="col">Nom</th>
      <th class="col-2" scope="col">Prénom</th>
      <th scope="col">Description</th>
      <th class="col-1 text-center" scope="col"><i class="fas fa-wrench"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of consultants" ngDefaultControl [(ngModel)]="c">
      <th scope="row">{{ c.nom }}</th>
      <th>{{ c.prenom }}</th>
      <td>{{ c.description }}</td>
      <td class="text-center">
        <a title="Modifier" style="cursor: pointer;" (click)="editConsultant(c)"><i class="far fa-edit"></i></a>
        &nbsp;&nbsp;
        <a title="Supprimer" style="cursor: pointer;" (click)="deleteConsultant(c._id)"><i class="far fa-trash-alt"></i></a>
      </td>
    </tr>
  </tbody>
</table>